[Unit]
Description=gasprice
After=network.target

[Service]

; Solves Python3.6 errors on clean Ubuntu 16.04 LTS  
Environment=LC_ALL=C.UTF-8
Environment=LANG=C.UTF-8

ExecStart=/usr/local/bin/gasprice
Restart=on-failure

; Run under unprivileged mode instead of root
; Uncomment to apply
; User=www-data
; Group=www-data

; Use graceful shutdown with a reasonable timeout

KillMode=mixed
KillSignal=SIGQUIT
TimeoutStopSec=5s

[Install]
WantedBy=multi-user.target
